

body {
  background: url('https://www.transparenttextures.com/patterns/cardboard.png'); /* 종이 질감 배경 */
}
a {
  text-decoration: none; /* 밑줄 제거 */
}
.ggamt-title-a {
  color: #222222
}
.baram-chart-container {
  /* width: 700px; */
  height: 300px;
}
.body {
  margin: 10px 0 100px 0;
}
.footer {
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.custom-tooltip {
  border: 1px dashed #34235533;
  background-color: #a18c6d99;
  padding: 0px 10px;
}
.desc {
  font-size: 12pt;
  color: #33333399;
}
.intro {
  font-size: 8pt;
  /* color: gray; */
}
.grid {
  display: flex;
}
.grid-child {
  flex-flow: column;
  margin: 10px;
  margin-top: 0px;
}
.btn-round {
  background-color: #a18c6d;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px; /* 모서리를 둥글게 */
  cursor: pointer;
  font-size: 16px;
}

.baram-desc-box {
  background-color: #a18c6d;
  color: #ffffff;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px; /* 모서리를 둥글게 */
}

.toggle-button {
  background-color: #655639; /* OFF 상태일 때 회색 */
  color: #d4bfa6;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  opacity: 0.8; /* 호버 시 약간의 불투명 효과 */
}

.toggle-button.on {
  background-color: #4CAF50; /* ON 상태일 때 초록색 */
}

.toggle-button.off {
  background-color: #ccc; /* OFF 상태일 때 회색 */
}

/** 매크로 수배명단 */

.macro-container {
  display: flex;
  flex-wrap: wrap; /* 줄 바꿈을 허용 */
  justify-content: space-between; /* 카드 사이의 공간 균일하게 배치 */
  gap: 20px; /* 카드 사이 간격 */
  max-width: 1000px; /* 그리드 전체 너비 설정 */
  margin: 0 auto; /* 가운데 정렬 */
}

.macro-card {
  width: 150px;
  padding: 25px;
  border: 5px solid #8b4513; /* 브라운 테두리 */
  /* border-radius: 30px; */
  background-color: #fffaf0; /* 밝은 종이 색 배경 */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
  text-align: center;
  margin: 20px auto;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

.macro-card-header {
  font-size: 30px;
  color: #8b0000; /* 짙은 빨강색 텍스트 */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4); /* 텍스트 그림자 */
  margin-bottom: 10px;
}



.macro-character-image-container {
  display: flex;
  flex-wrap: wrap;
}

.macro-character-image-box {
  position: relative;
  overflow: hidden;
  margin: 20px;
  border-radius: 10px;
  width: 110px;
  height: 135px;
  box-shadow: 0 0 5px 1px #555;
  z-index: 0;
}

.macro-character-image {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: "";
  border-radius: 8px;
  width: 95px;
  height: 120px;
  line-height: 80px;
  text-align: center;
  font-weight: bold;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.macro-character-image.off {
  filter: grayscale(100%);
}

@keyframes rotateAni {
  100% {
      transform: rotate(360deg);
  }
}

.macro-character-image-box.on::before {
  position: absolute;
  top: -25%;
  left: -25%;
  display: block;
  content: "";
  width: 150%;
  height: 150%;
  z-index: -1;
}

.macro-character-image-box.on::before {
  background: conic-gradient(transparent 180deg,  #348f57 360deg);
  animation: rotateAni 1.5s infinite linear;
}

.macro-character-name {
  font-size: 22px;
  margin: 10px 0;
  color: #000;
}

.macro-character-desc {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

.macro-character-live {
  font-size: 22px;
  color: #ee5533;
  margin-top: 10px;
}

.macro-character-live.on {
  font-size: 26px;
  color: #348f57;
}

.macro-card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
}